@import '../../sass/mixins.scss';
@import '../../sass/typography.scss';
@import '../../sass/variables.scss';

.home{
    &__hero{
        display: grid;
        grid-template-columns: [full-col-start sm-col-start] 40% [sm-col-end lg-col-start] 60% [lg-col-end full-col-end];
        &--content-container{
            grid-column: sm-col-start / sm-col-end;

            position: relative;
            background-color:#FFC000;
            display: flex;
            align-items: center;
            justify-content: center;

            .layout-1{
                position: absolute;
                left: 0;
                bottom: 0;
            }

            .box{
                width: max-content;
                position: relative;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4rem;

                h1{
                    font-weight: 400 !important;
                }
            }
            span{
                display: block;
            }
        }
        &--slider-container{
            grid-column: lg-col-start / lg-col-end;
            height: 100%;

            position: relative;

            .yellow-line{
                height: 2.3rem;
                width: 35.1rem;
                background-color: $color-primary;

                position: absolute;
                right: 0;
                top: -1.15rem;
                z-index: 111;
            }
            
        }
    }
    &__mission{
        position: relative;
        padding: 13rem 15rem 25rem 15rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        &--content{
            width: 65rem;

            h2{
                font-weight: 400 !important;
            }
            .yellow-line-sm{
                height: 1.7rem;
                width: 20rem;
                background-color: $color-primary;
                margin-top: 3rem;
            }
        }
        &--image{
            
            .img-container{
                height: 70rem;
                width: 50rem;
                position: relative;
                margin: 0 auto;

                
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        .box-layout{
            height: 55rem;
            width: 55rem;
            background-color: $color-secondary;

            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &__about{
        display: grid;
        grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
        grid-template-rows: repeat(2, [row-start] min-content [row-end]);

        background-color: $color-secondary;

        &--image{
            grid-column: col-start 1 / col-end 1;
            grid-row: row-start 1 / row-end 1;

            margin-top: -50rem;

            .img-container{
                height: 76rem;
                width: 76rem;

                img{
                    height: 100%;
                    object-fit: contain;
                }
            }
            .yellow-layout-lg{
                height: 6.8rem;
                width: 48rem;
                background-color: $color-primary;
            }
        }
        &--content{
            grid-column: col-start 2 / col-end 2;
            grid-row: row-start 1 / row-end 1;

            padding-right: 15rem;

            .box{
                width: 70rem;
            }

            .sdg-list{
                margin-top: -10rem;
                margin-bottom: 5rem;

                display: flex;
                justify-content: space-between;
                gap: 2rem;

                .sdg-img{
                    height: 19rem;
                    width: 19rem;
                }
            }
            .text{
                font-size: 2.2rem;
                color: $color-white;

                p:not(:last-child){
                        margin-bottom: 3rem;
                    }
            }

        }
        &--gallery{
            grid-column: col-start 1 / col-end 2;
            grid-row: row-start 2 / row-end 2;

            .heading-container{
                padding-left: 15rem;
                .heading{
                    color: $color-primary;
                    font-size: 9.4rem;
                }
                .white-line{
                    width: 12.5rem;
                    height: 1.1rem;
                    background-color: $color-white;
                }
            }
            .gallery-slider-container{
                background-color: saddlebrown;
                padding: 0 10rem;
                height: 50rem;
            }
        }
    }
    &__contact{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        &--image-container{
            .img-container{
                height: 90rem;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        &--form-container{
            padding: 20rem 15rem;
            background-color: $color-primary;

            position: relative;

            .layout-2{
                position: absolute;
                right: 0;
                bottom: 0;
            }
            .form-heading{
                margin-bottom: 5rem;
            }
            .form{
                width: 35rem;

                position: relative;
                z-index: 111;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;


                .input, .textarea{
                    width: 100%;
                    padding: 1rem 2rem;
                    font-size: 2.4rem;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid $color-secondary;
                    color: $color-secondary;

                    &:not(:last-child){
                        margin-bottom: 4rem;
                    }

                    &::placeholder{
                        color: $color-secondary;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }

}