@import '../../sass/mixins.scss';
@import '../../sass/typography.scss';
@import '../../sass/variables.scss';

.gallery-slider{
    height: 100%;

    .card{
        padding-inline: 1rem;

        &__img-container{
            height: 40rem;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .slick-slider{
        padding: 5rem;
        height: 100%;

        @include response(phone){
            padding: 2rem;
        }
        @include response(tab-port){
            padding: 0;
        }
    }
    .slick-prev:before,
    .slick-next:before {
        color: $color-primary;
    }
    .slick-track{
        height: 100%;
    }
}