@import '../../sass/mixins.scss';
@import '../../sass/typography.scss';
@import '../../sass/variables.scss';

.header{
    padding: 2rem 12rem;
    background-color: $color-secondary;

    display: flex;
    justify-content: space-between;

    @include response(phone){
        padding: 2rem;
        justify-content: flex-end;
    }

    .menu-btn{
        height: min-content;
        align-self: center;
        margin-right: auto;
        font-size: 4rem;
        color: $color-white;
        border: none;
        cursor: pointer;
        background-color: transparent;

        display: none;

        @include response(phone){
            display: inline;
        }
    }

    &__logo-container{
        height: 9.9rem;

        img{
            height: 100%;
            object-fit: contain;
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        gap: 5rem;

        @include response(phone){
            background-color: $color-secondary;
            flex-direction: column;
            gap: 3rem;
            padding: 7rem 14rem;
            width: 100%;
            transition: all .3s ease-in;

            position: absolute;
            left: -120rem;
            top: 13rem;
            z-index: 111;
        }

        &--item{
            list-style: none;
        }
        &--link{
            text-decoration: none;
            font-size: 2.4rem;
            color: $color-white;

            transition: all .3s;

            &:hover{
                color: $color-primary;
            }
        }
    }
    .active{
        left: 0;
    }
}